:root{
  --red: #E60234;
  --blue: #174950;
  --green: #33CC95;
  --xuxu: #8B0F32;
  --blue-ligth: #008080;
  --text-title: #363f5f;
  --text-body: #969cb3;
  --backgroung: #f0f2f5;
  --shape: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  

  @media (max-width: 1080px){
      font-size: 93.75%;
  }    
  @media (max-width: 720px){
      font-size: 87.5%;

      .agendas{
        width: 20rem;
      }
  }    
}

body{
  font-family: 'Poppins', sans-serif;
  background: var(--backgroung);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button{
font-family: 'Poppins', sans-serif;
font-weight: 400;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, strong{
  font-weight: 600;
}

button{
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

ul li{
  list-style-type: none;
}

img{
  max-width: 100%;
}
